body 
{
  background-color: #fff;
  margin:0;
  width: 100%;
  height: 100%;
  color: rgb(65, 63, 63) !important;
  font-family: 'Fira Sans', sans-serif !important;
}

/*----------------------------------
  GENERAL
-----------------------------------*/

a {
  color: #43aea0;
}

a:hover {
  color: #00d3b8;
  text-decoration: none;
}

#main {
  margin-top: 50px;
}

section {
  padding: 10px 10px 10px 10px;
}

.section-bg {
  background-color:rgba(179, 230, 198, 0.85);
  color: rgb(98, 98, 98);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 30px;
  color: #555;
  margin-bottom: 50px;
  margin-top: 30px !important;
  letter-spacing: 5px !important;
  text-transform: uppercase;
  border-bottom: dimgray 2px solid;
}

.section-closing p {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

h4.title {
  text-align: center;
  color: #103966e1 !important;
  margin-bottom: 15px;
}

p.description {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width:641px) {

  .section-title h2 {
    font-size: 40px;
    color: #555;
    letter-spacing: 7px;
  }
}


/*----------------------------------
  NAVIGATION BAR
-----------------------------------*/

.navbar-nav {
  margin-left: 50px;
}

.nav-link {
  margin-right: 20px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (min-width: 1000px) {

  .nav-link {
    margin-left: 25px;
  }
}

@media screen and (min-width:2000px) {

  .nav-link {
    margin-left: 30px;
    font-size: 30px;
  }
}

/*----------------------------------
  CAROUSEL
-----------------------------------*/


#carousel .container-carousel {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: small;
  width: 100%;
}

.carousel {
  display: block;
  height: auto;
  width: 100%;
  background-image: url('../images/welcome.jpg');
  background-position: top center;
  background-size: cover;
  position: relative;
}

.carousel img {
  height: auto;
  width: 100%;
  margin: auto;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -50px;
}

@media screen and (min-width:641px) {

  .carousel {
    max-height: 550px;
  }
}

/*----------------------------------
  WHATSAPP FLOAT
-----------------------------------*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*----------------------------------
  WELCOME
-----------------------------------*/
  
#nbbamboo {
  height: 400px;
  background: url('../images/welcome.jpg');
  background-position: top center;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-top: 0px !important;
}

#nbbamboo:before {
  content: "";
  background: rgba(52, 189, 173, 0.85);
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0px;
  display:flex;
}

#nbbamboo .nbbamboo-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: small;
  width: 100%;
}

#nbbamboo h1 {
  margin: 0 0 10px 0;
  font-size: 35px;
  line-height: 56px;
  color: #fff;
  font-family: 'DM Serif Display', serif !important;
  letter-spacing: 5px !important;
}

#nbbamboo h2 {
  color: #eee;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 15px !important;
  line-height: 1.5;
  width: 80%;
  letter-spacing: 1px;
}

#nbbamboo h3 {
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (min-width: 641px) {
  #nbbamboo {
    background-attachment: fixed;
  }

  #nbbamboo h1 {
    font-size: 50px;
    line-height: 36px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #nbbamboo h2 {
    font-size: 19px !important;
    letter-spacing: 2px;
  }
  #nbbamboo h3 {
    font-size: 15px !important;
    font-weight: 300;
    letter-spacing: 10px;
    color: #fff;
    text-transform: uppercase;
  }
}

@media screen and (min-width:2000px) {
  #nbbamboo {
    height: 800px;
  }

  #nbbamboo h1 {
    font-size: 50px;
    line-height: 36px;
  }
  #nbbamboo h2 {
    font-size: 50px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#bottom_text {
  height: 300px;
  background: url('../images/back2.jpg');
  background-position: top center;
  background-size: cover;
  position: relative;
  margin-bottom: -100px;
  width: 100%;
  margin-top: 0px !important;
}

#bottom_text h2 {
  color: rgb(104, 104, 104);
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 19px !important;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif !important;
  text-align: center;
  width: 50%;
}

.bottom_text-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: small;
  width: 100%;
}

@media screen and (min-width:641px) {

  #bottom_text {
    height: 300px;
    background-position: top center;
    background-size: cover;
    position: relative;
    margin-bottom: -100px;
    width: 100%;
    margin-top: 0px !important;
  }
  
  #bottom_text h2 {
    color: rgb(104, 104, 104);
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px !important;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif !important;
    text-align: center;
    width: 50%;
  }
  
  .bottom_text-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: small;
    width: 100%;
  }
  
}

/*----------------------------------
  OUR PRODUCTS
-----------------------------------*/

.grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  }

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
}

.grid > article:hover{
  transition: transform .1s ease-out;
  transform: translateY(10px);
  background-color: whitesmoke;
}

.grid > article img {
  width: 60%;
  margin-top: 20px;
}

.text > h3{
  padding: 0 20px 20px;
  letter-spacing: 2px;
  font-size: 15px;
}

@media (min-width: 1000px){
  .grid{
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }

  .text > h3{
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 999px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .text > h3{
    font-size: 18px;
    margin-top: 15px;
  }
}

@media (max-width: 659px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .grid > article{
    text-align: center;
  }
}

@media screen and (min-width:2000px) {
  .grid > article img {
    width: 70%;
    margin-top: 15px;
    height: 800px;
  }
}


/*----------------------------------
  ABOUT US
-----------------------------------*/

#about {
  color: #777;
}


h3.main {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.check {
  font-size: 15px;
}

p.des {
  font-size: 15px;
  margin-top: 20px;
}

.about i {
  font-size: 15px;
  padding-right: 0px;
  color: #70b9b0;
  margin-bottom: 20px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa-check-circle {
  font-size: 20px !important; 
  color: rgb(45, 114, 45); 
  margin-right: 20px;
}

@media (min-width: 1000px){
  h3.main {
    font-size: 20px;
  }
  
  .check {
    font-size: 18px;
  }
  
  p.des {
    font-size: 18px;
    margin-top: 20px;
  }
  
}

@media (min-width: 2000px){
  h3.main {
    font-size: 60px;
  }

  p.des {
    text-align: justify !important;
    font-size: 30px;
  }
  
}


/*--------------------------------------------------------------
# Bamboo
--------------------------------------------------------------*/
.bamboo .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.bamboo .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.bamboo p {
  font-size: 18px;
}

.bamboo .icon-box:hover .title a {
  color: #70b9b0;
}

.bamboo .description {
  line-height: 24px;
  font-size: 18px;
}

/*----------------------------------
INTERESTING FACT
-----------------------------------*/

.icon-box{
  text-align: center;
}

.fa-globe {
  font-size: 40px !important; 
  color: rgb(45, 114, 45); 
  margin-bottom: 30px;
  text-align: center !important;
}

.fa-tree {
  font-size: 40px !important; 
  color: rgb(45, 114, 45); 
  margin-bottom: 30px;
  text-align: center !important;
}

.fa-users {
  font-size: 40px !important; 
  color: rgb(45, 114, 45); 
  margin-bottom: 30px;
  text-align: center !important;
}

.fa-thumbs-up {
  font-size: 40px !important; 
  color: rgb(45, 114, 45); 
  margin-bottom: 30px;
  text-align: center !important;
}

p.description {
  margin-bottom: 30px;
  margin-right: 0 !important;
  font-size: 18px !important;
}

/*----------------------------------
WHY US
-----------------------------------*/

.why_us {
  padding: 0 !important;
}

.why_comm{
  width:200px;
  height: 150px;
}

.why_eco{
  width: 150px;
  height: 150px;
}

p.title {
  font-size: 18px !important;
}

@media screen and (min-width:768px) {

  .fa-thumbs-up {
    margin-top: 0 !important;
  }
}

h5 {
  border-top: 2px solid #87888b;
  border-bottom: 2px solid #87888b;
}

.fa-home {
  margin: 10px 10px 10px 10px;
  font-size: 20px !important; 
  color: rgb(45, 114, 45);
}

/*----------------------------------
BOTTOM
-----------------------------------*/
bot {
  background: url('../images/back2.jpg');
}

/*----------------------------------
CONTACT US
-----------------------------------*/
footer {
	position: bottom;
  padding-bottom: 0;
}

.footer-distributed{ 
	background-color: rgba(35, 70, 48, 0.85);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 55px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 20%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'DM Serif Display', serif !important;
  margin: 0;
  letter-spacing: 5px;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
  color:  inherit;
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 13px;
}
 
.footer-distributed .footer-company-name{
	color:  rgb(146, 146, 146) !important;
	font-size: 12px;
  margin-top: 50px;
  font-family: 'Fira Sans', sans-serif !important;
  letter-spacing: 1px;
  text-align: center;
}

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .footer-center h3{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
  margin:0;
  margin-bottom: 30px;
  font-family: 'Fira Sans', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 18px !important;
  font-weight: bold !important;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
  margin:0;
  margin-bottom: 20px;
  font-family: 'Fira Sans', sans-serif !important;
}
 
 
 /*
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #cdd5e4;
  text-decoration: none;
}
*/
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif !important;
  line-height: 1.5;
  text-align: center;
}
 
.footer-distributed .footer-company-about span{

	display: block;
	color:  #ffffff;
	font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 30px !important;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
}
 
@media (max-width: 900px) {
 
	.footer-distributed {
		font: bold 14px sans-serif;
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
  }
}